body,
html {
    margin: 0;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
}

.container {
    width: 250px;
    height: 200px;
    border: 1px solid #720570;
  }
  
  .bar {
    fill: #720570;
  }